<script>
    import { Router, Route } from 'svelte-navigator';
    // import Home from '../pages/Home.svelte';
</script>

<Router>
    <div>
        <!-- <Route path = "/"> <Home /> </Route> -->
        <!-- <Route path = "test"> <Test /> </Route> -->
    </div>
</Router>
