{% extends "convoscript/base.html" %}
{% block convoscript-form %}
{% for i in data %}

<form
  method="post"
  enctype="multipart/form-data"
  action="{% url 'convoscript_check' %}"
  id="convoscript-form"
>
  {% csrf_token %}
  <input
    type="submit"
    name="button"
    value="Previous State"
    id="previous-state-button"
    class="form-button"
  />

  <div class="convo-name-wrapper">
    <label for="convo">Chatbot conversation</label>
    <select
        onchange="this.form.submit()"
        name="convo_dropdown"
        id="convo_dropdown"
        class="custom-dropdown"
      >
        <option value="{{ convos.0 }}">{{ convos.0 }}</option>
        {% for convo in convos %}
        <option value="{{ convo }}">{{ convo }}</option>
        {% endfor %}

        <option value="new">+ Create a new Chatbot conversation</option>
    </select>
  </div>

  <div class="state-name-wrapper">
    <label for="sname">State name</label>
    <input
      type="text"
      id="sname"
      name="sname"
      placeholder="name of bot state"
      value="{{ statename }}"
      {{statenamereadonly}}
    />
  </div>

  <div class="bot-statement-wrapper">
    <label for="sname">Bot statement</label>
    <textarea
      id="botstatement"
      name="botstatement"
      placeholder="question for bot to ask user"
      rows="5"
    >
  {{ botstatement }}</textarea
    >
  </div>

  <div class="userstatements-dropdown-wrapper">
    <label for="userstatement">Currently viewing user statement:</label>
    <select
        onchange="this.form.submit()"
        name="userstatement_dropdown"
        id="userstatement_dropdown"
        class="custom-dropdown"
      >
        {% for statement in userstatements %}
        <option value="{{ statement }}">{{ statement }}</option>
        {% endfor %}
  
        <option value="new">+ Add new User statement</option>
    </select>
  </div>

  <div class="triggertext-wrapper">
    <label for="triggertext">User statement:</label>
    <input
      type="text"
      id="triggertext"
      name="userstatement"
      placeholder="user response to bot statement"
      value="{{ userstatement }}"
    />
  </div>

  <div class="yesornocheckbox-wrapper">
    <label for="yesornocheckbox"
      >Do you want to make the user statement/response a button?</label
    >
    <input
      type="checkbox"
      id="yesornocheckbox"
      name="yesorno"
      value="checked"
      {{
      isabutton
      }}
    />
    <label for="yesornocheckbox">Yes</label>
  </div>

  <div class="triggerstate-wrapper">
    <label for="triggerstate">Next bot state (Triggered state):</label>
    <select name="nextstate" id="nextstates" class="custom-dropdown">
      {% for state in states %}
      <option value="{{ state }}">{{ state }}</option>
      {% endfor %}
    </select>
 
  </div>

  <div class="new-state-name-wrapper">
    <label for="sname">New state name:</label>
    <div class="new-state-name-group">
      <input
        type="text"
        id="newstatename"
        name="newstatename"
        placeholder="new state name"
      />
      <input type="submit" name="button" value="Add" id="add-button" />
    </div>
  </div>

  <div class="next-state-group">
    <input
      type="submit"
      name="button"
      value="Next State"
      id="next-state-button"
      class="form-button"
    />
  </div>
</form>

{% endfor %}
{% endblock convoscript-form %}
{% load static %} 
{% block custom-dropdown %}
<script src="{% static 'convoscript/customDropdown.js' %}"></script>
{% endblock custom-dropdown %} 
{% block convograph %}
<script src="{% static 'convograph/convograph.js' %}" type="module"></script>
{% endblock convograph %}
