:root {
  --ff-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ff-heading: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --clr-primary-400: hsl(208, 99%, 44%);
  --clr-neutral-900: hsl(0%, 0%, 0%);
  --clr-neutral-100: hsl(0%, 0%, 100%);

  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-400: 1rem;
}

/* @media (min-width: 60em) {
  :root {
    --fs-xl: 7rem;
    --fs-600: 2rem;
    --fs-400: 1.25rem;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #333333;
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  margin: 4.5em 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

#convoscript-wrapper {
  display: flex;
  gap: 2rem;
}

main {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 1fr 1fr;
  margin: 1em;
}

#convoscript-form-wrapper {
  background: #ffffff;
  padding: 1em;
  border: 1px solid #dddddd;
  border-radius: 3px;
  position: relative;
  max-width: 640px;
}

#convoscript-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  padding-top: 1.5em;
}

#previous-state-button {
  position: absolute;
  top: -0.8em;
  left: -0.5em;
}

.form label {
  font-size: var(--fs-600);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.form-button {
  display: inline-block;
  border-radius: 0.8em;
  background-color: #007bff;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 0.6em 1.4em;
  width: fit-content;
  cursor: pointer;
}

.form-button:hover {
  background-color: #279aff;
  text-decoration: none;
}

form input[type="text"] {
  width: 100%;
  height: 3rem;
  border: 1px solid #dddddd;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
}

form input[type="text"]:focus {
  outline: none;
  border-color: #279aff;
  box-shadow: 0 0 10px #279aff;
}

#botstatement {
  width: 100%;
  height: 10rem;
  border: 1px solid #dddddd;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
}

#botstatement:focus {
  outline: none;
  border-color: #279aff;
  box-shadow: 0 0 10px #279aff;
}

.custom-dropdown-wrapper {
  position: relative;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  border: 0.1em solid #dddddd;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 0.4em;
}

.custom-dropdown.active,
.custom-dropdown:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #279aff;
}

.custom-dropdown-value {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.caret::after {
  content: "\25BC";
  color: #007bff;
  position: absolute;
  z-index: 1; /* This will be important to keep the arrow from overlapping the list of options */
  top: 0;
  right: 0;
  box-sizing: border-box;
  height: 100%;
  width: 2rem;
  padding-top: 0.6rem;
  border-radius: 0 0.1rem 0.1rem 0;
  text-align: center;
}

.yesornocheckbox-wrapper {
  display: inline-block;
}

.yesornocheckbox-wrapper label {
  display: inline;
}

.triggerstatement-wrapper {
  display: inline-block;
  height: 3rem;
  padding: 0.5rem 1rem;
}

.form input[type="checkbox"] {
  width: 1rem;
  border: 1px solid #dddddd;
  border-radius: 0.6rem;
}

.new-state-name-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  /* align-items: center; */
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: var(--fs-400);
}

.new-state-name-wrapper label {
  color: black;
  text-align: left;
}

.new-state-name-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#newstatename {
  border-radius: 0.8rem;
  font-size: var(--fs-400);
  width: 100%;
  padding: 0.5rem 1rem;
}

#add-button {
  border-radius: 0.8rem;
  background-color: #007bff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: var(--fs-400);
  padding: 0.6rem 1.4rem;
  cursor: pointer;
}

#add-button:hover {
  background-color: #279aff;
}

.next-state-group {
  display: block;
  position: relative;
  height: 1.5rem;
}

#next-state-button {
  position: absolute;
  top: 0.7rem;
  right: -1.7rem;
}

#export_yml {
  text-align: center;
  margin: 0.5rem;
}

#download-button {
  position: absolute;
  bottom: -0.7em;
  left: -0.7em;
  border-radius: 0.8em;
  background-color: #007bff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: var(--fs-400);
  padding: 0.6rem 1.4rem;
  width: fit-content;
  cursor: pointer;
}

#download-button:hover {
  background-color: #279aff;
  text-decoration: none;
}

#convograph-wrapper {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

#tooltip {
  display: none;
  position: absolute;
  font-family: sans-serif;
  text-align: center;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

footer {
  background: #ffffff;
  margin: 1em;
  padding: 1em;
  border: 1px solid #dddddd;
  border-radius: 3px;
  max-width: 800px;
  margin: auto;
}


@media screen and (min-width: 50em) {
  main {
    grid-template-rows: unset;
    grid-template-columns: min(50vw, 640px) 1fr;
    grid-gap: 0.5em;
  }
}