{% load i18n static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"> -->
<style>
    {
        % default_css_vars_if_needed %
    }

    .admindatefilter .button,
    .admindatefilter input[type=submit],
    .admindatefilter input[type=button],
    .admindatefilter .submit-row input,
    .admindatefilter a.button,
    .admindatefilter .button,
    .admindatefilter input[type=reset] {
        background: var(--button-bg);
        padding: 4px 5px;
        border: none;
        border-radius: 4px;
        color: var(--button-fg);
        cursor: pointer;
    }

    .admindatefilter {
        padding-left: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--border-color);
    }

    .admindatefilter p {
        padding-left: 0px;
        line-height: 0;
    }

    .admindatefilter p.datetime {
        line-height: 0;
    }

    .admindatefilter .timezonewarning {
        display: none;
    }

    .admindatefilter .datetimeshortcuts a:first-child {
        margin-right: 4px;
        display: none;
    }

    .calendarbox {
        z-index: 1100;
    }

    .clockbox {
        z-index: 1100;
        margin-left: -8em !important;
        margin-top: 5em !important;
    }

    .admindatefilter .datetimeshortcuts {
        font-size: 0;
        float: right;
        position: absolute;
        padding-top: 4px;
    }

    .admindatefilter a {
        color: #999;
        position: absolute;
        padding-top: 3px;
        padding-left: 4px;
    }

    @media (min-width: 768px) {
        .calendarbox {
            margin-left: -16em !important;
            margin-top: 9em !important;
        }
    }

    @media (max-width: 767px) {
        .calendarbox {
            overflow: visible;
        }
    }
</style>
{% comment %}
Force load jsi18n, issues #5
https://github.com/django/django/blob/stable/1.10.x/django/contrib/admin/templates/admin/change_list.html#L7
{% endcomment %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script>
    function textFilterApply(event, qs_name) {
        event.preventDefault();
        const $form = django.jQuery(event.target).closest('form');
        const formData = $form.serialize();
        const queryString = updateQueryString(window.location.href.split("?").length == 2 ? window.location.href.split("?").pop() : formData, formData);
        window.location = window.location.href.split("?")[0] + "?" + queryString;
    }
    function updateQueryString(originalQueryString, newArgument) {
        const originalParams = new URLSearchParams(originalQueryString);
        const newParams = new URLSearchParams(newArgument);

        newParams.forEach((value, key) => {
            if (originalParams.has(key)) {
                originalParams.set(key, value);
            } else {
                originalParams.append(key, value);
            }
        });

        return originalParams.toString();
    }
</script>
<script>
    {% comment %}
    // Code below makes sure that the DateTimeShortcuts.js is loaded exactly once
    // regardless the presence of AdminDateWidget
    // How it worked:
    //  - First Django loads the model formset with predefined widgets for different
    //    field types. If there's a date based field, then it loads the AdminDateWidget
    //    and it's required media to context under {{media.js}} in admin/change_list.html.
    //    (Note: it accumulates media in django.forms.widgets.Media object,
    //    which prevents duplicates, but the DateRangeFilter is not included yet
    //    since it's not model field related.
    //    List of predefined widgets is in django.contrib.admin.options.FORMFIELD_FOR_DBFIELD_DEFAULTS)
    //  - After that Django starts rendering forms, which have the {{form.media}}
    //    tag. Only then the DjangoRangeFilter.get_media is called and rendered,
    //    which creates the duplicates.
    // How it works:
    //  - first step is the same, if there's a AdminDateWidget to be loaded then
    //    nothing changes
    //  - DOM gets rendered and if the AdminDateWidget was rendered then
    //    the DateTimeShortcuts.js is initiated which sets the window.DateTimeShortcuts.
    //    Otherwise, the window.DateTimeShortcuts is undefined.
    //  - The lines below check if the DateTimeShortcuts has been set and if not
    //    then the DateTimeShortcuts.js and calendar.js is rendered
    //
    //  https://github.com/silentsokolov/django-admin-rangefilter/issues/9
    //
    // Django 2.1
    //  https://github.com/silentsokolov/django-admin-rangefilter/issues/21
    {% endcomment %}
    django.jQuery('document').ready(function () {
        if (!('DateTimeShortcuts' in window)) {
            django.jQuery.when(
                {% for m in spec.form.js %}
        django.jQuery.getScript('{{m}}'),
            {% endfor %}
                django.jQuery.Deferred(function (deferred) {
                django.jQuery(deferred.resolve);
            })
    ).done(function () {
        django.jQuery('.datetimeshortcuts').remove();
        DateTimeShortcuts.init();
    });
        }
    });
</script>


<h3>{% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}</h3>

{% with choices.0 as c %}
<ul>
    <li>
        <form method="get">
            <input type="search" id="{{ c.parameter_name }}-query-string" name="{{ c.parameter_name }}"
                value="{{ c.current_value|default_if_none:'' }}" />
            <div class="controls">
                <input type="submit" class="button" value="{% translate 'Search' %}"
                    onclick="textFilterApply(event, '{{ c.parameter_name }}-query-string')">
                <input type="reset" class="button" value="{% translate 'Reset' %}">
            </div>
        </form>
    </li>
</ul>
{% endwith %}