{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}

		{% if form.errors %}
			{% for error in form.non_field_errors %}
				{{error}}
			{% endfor %}
		{% endif %}
		
		{{ form.as_p }}
		<button type="submit">Upload</button>
	</form>
	<p><a href="{% url 'users-home' %}">Return to home</a></p>
</div>
{% endblock %}