<div style="width: 90%; margin: auto;">
    <h3>Upload your conversation:</h3>
</div>
<div style="width: 90%; margin: auto; margin-bottom: 30px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
        {% endif %}

        {{ form.as_p }}
    </form>
    <script>
        function showCheckbox() {
            const fileInput = document.getElementById("inputGroupFile02");
            const checkboxContainer = document.getElementById("checkboxContainer");

            if (fileInput.files.length > 0) {
                checkboxContainer.style.display = "block";
            } else {
                checkboxContainer.style.display = "none";
            }
        }
    </script>
</div>