#sort-filter-convos {
    position: relative;
}

#search-form input[type="text"] {
    outline: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#search-form>.textbox {
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    float: left;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

#search-form>.textbox:focus {
    outline: 0;
    background-color: #FFF;
}

#search-form>.button {
    outline: 0;
    background: none;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

#search-form>.button:hover {
    background-color: rgb(132, 238, 190);
}

ul {
    list-style: none;
}

label {
    cursor: pointer;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    padding: 0.5em;
}

#filters {
    position: absolute;
    left: 300px;
    top: 3px;
}

.filters {
    width: 250px;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
    padding: 1.5em;
    position: absolute;
}

.filters__list li {
    display: flex;
    align-items: center;
    user-select: none;
    padding-bottom: 1em;
    line-height: 0;
}

.filters__list li:last-child {
    padding-bottom: 0;
}

input[type="checkbox"] {
    margin-right: 0.5em;
}

#filter-button {
    background: #343a40;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    border: 0;
    outline: 0;
    text-align: left;
    min-width: 150px;
    display: inline-flex;
    justify-content: space-between;
    color: #1175EC;
    cursor: pointer;
}

#filter-button::after {
    font-family: sans-serif;
    content: "▼";
    padding-left: 0.5em;
}

#filter-button--highlight::after {
    content: "✓";
}

.hidden {
    display: none;
}

#search-filter-convos {
    height: 50px;
    position: relative;
}

#filter-container {
    width: 400px;
}

#search-form {
    position: absolute;
    left: 0;
    top: 0;
}

div.controls input {
    width: 80px;
    height: 25px;
}

form input[type="search"] {
    width: 170px;
}

#example,
#end {
    width: 140px;
}

label {
    display: block;
}

.convo-view-inscription {
    font-size: 24px;
    margin-bottom: 0;
}

/* #convo-view {
    min-height: 90%;
} */

.convo-view {
    max-height: 40rem;
    overflow: auto;
    border: 1px solid #000;
}

#gap-between-convo-views {
    height: 10px;
}

#applicability {
    position: absolute;
    left: 470px;
    top: 10px;
}

#applicability label {
    display: inline-block;
    margin-right: 10px;
}

/* #main-checkbox {
    display: inline-block;
} */

.checkbox-col {
    width: 2rem;
    display: inline-block;
}

.custom-col {
    width: 6rem;
    display: inline-block;
}

.custom-col-2 {
    width: 12rem;
    display: inline-block;
}

.custom-col-3 {
    width: 18rem;
    display: inline-block;
}

#actions {
    position: absolute;
    left: 460px;
    top: 7px;
}