<script>
    export let empty_message_allowed;
    export let ws_url;
    export let bot_picture;
    export let name;

    let userInput = '';
    let roomContent;
    let loading;

    let textArea;
    let errorArea;

    let toggler;
    let listMenu;

    export let socket;


    let context = {};

    function scroll_to_bottom() {
        roomContent.scrollTo(-10, roomContent.scrollHeight);
    }

    export function write_bot_response(e) {
        loading.style.display = 'none';
        let payload = JSON.parse(e.data);

        let lastChildDiv = roomContent.lastChild;
        if (lastChildDiv) {
            while (lastChildDiv !== null) {
                let a_elem;
                try {
                    a_elem = lastChildDiv.querySelector('a');
                } catch (error) {}
                if (a_elem && a_elem.hasAttribute("data-label")) {
                    roomContent.removeChild(lastChildDiv);
                    break;
                }
                lastChildDiv = lastChildDiv.previousSibling;
            }
        }
        
        handleMessage(payload);
        handleTriggers(payload);
        handleImages(payload);

        setTimeout(function() {
            scroll_to_bottom();
        }, 25);
        context = {}
    }

    function handleMessage(payload) {
        let messageText = payload.bot_text;
        if (messageText !== "") {
            let bot_text = `
                <div class = "message-item received">
                    <span style="display: block;" class = "message-item-text">
                        ${messageText}
                    </span>
                </div>
            `;
            roomContent.insertAdjacentHTML('beforeend', bot_text);
            return;
        }
    }

    function handleTriggers(payload) {
        if (payload.hasOwnProperty("triggers") && payload.triggers.length > 0) {
            const triggerButtonsSection = createSectionWithTiggerButtons(payload);
            if (triggerButtonsSection)
                roomContent.appendChild(triggerButtonsSection);
        }
        return;
    }

    function handleImages(payload) {
        if (payload.hasOwnProperty("image_as_html") && payload.image_as_html.length) {
            let bot_text = `
                <div class = "message-item received" style="max-width: 100%;">
                    ${payload.image_as_html}
                </div>
            `;
            roomContent.insertAdjacentHTML('beforeend', bot_text);
        }
        return;
    }

    function createSectionWithTiggerButtons(payload) {
        let section = document.createElement('div');
        let triggers = jsonify_triggers(payload.triggers);

        for (let trigger = 0; trigger < triggers.length; trigger++) {
            if (payload.conversation_version == 3) {
                if (!(triggers[trigger].hasOwnProperty("button_text"))) {
                    continue;
                }
                let message = document.createElement("a");
                message.setAttribute('data-label', 'trigger-btn');
                message.className = "trigger btn btn-outline-info w-50";
                message.innerHTML = triggers[trigger]["button_text"];
                section.appendChild(message);
                message.addEventListener("click", function insert_value() {
                    userInput = triggers[trigger]["button_text"];
                    send_user_input();
                });
            } else {
                if (!(triggers[trigger]["is_button"])) {
                    continue;
                }
                let message = document.createElement("a");
                message.setAttribute('data-label', 'trigger-btn');
                message.className = "trigger btn btn-outline-info w-50";
                message.innerHTML = triggers[trigger]["intent_text"];
                section.appendChild(message);
                message.addEventListener("click", function insert_value() {
                    userInput = triggers[trigger]["intent_text"];
                    send_user_input();
                });
            }
        }

        if (section.childElementCount == 0) {
            section = null;
        }

        return section;
    }

    function jsonify_triggers(triggers) {
        let jsonified_triggers = [];
        triggers.forEach(trig => {
            let trig_data = {};
            for (let key in trig) {
                try {
                    trig_data[JSON.parse(key)] = JSON.parse(trig[key]);
                } catch (error) {
                    trig_data[JSON.parse(key)] = trig[key];
                }
            }
            jsonified_triggers.push(trig_data);
        });
        return jsonified_triggers;
    }


    function send_user_input() {
        let message = `
            <div class = "message-item sent">
                <span class = "message-item-text">
                    ${userInput}
                </span>
            </div>
        `;

        let lastChildDiv = roomContent.lastChild;
        while (lastChildDiv.nodeType != 1) {
            lastChildDiv = lastChildDiv.previousSibling;
        }

        roomContent.insertAdjacentHTML('beforeend', message);

        context["user_text"] = userInput;

        socket.send(JSON.stringify(context));

        userInput = '';
        // noHistory.style.display = 'none';
        loading.style.display = 'none';
        scroll_to_bottom();
    }

    async function submit_user_input() {
        if (empty_message_allowed) {
            send_user_input();
            socket.onmessage = function (e) {
                write_bot_response(e);
            };
        } else {
            if (userInput.trim() !== '') {
                send_user_input();
                socket.onmessage = function (e) {
                    write_bot_response(e);
                };
            } else {
                return false;
            }
        }
    }

    document.onkeydown = function () {
        if (window.event.keyCode == '13' && !window.event.shiftKey) {
            submit_user_input();
            window.event.preventDefault();
        }
    };

    function toggleMenu() {
        if (listMenu.style.display == 'block') {
            listMenu.style.display = 'none';
        } else {
            listMenu.style.display = 'block';
        }
    }

    function reset_connection() {
        let randomRoom = btoa(Math.random().toString().substr(3, 7)).slice(
            0,
            7
        );
        let url = `${ws_url}/${randomRoom}/`;
        // let url = `ws://localhost:8000/ws/chat-async/${randomRoom}/`
        socket = new WebSocket(url);
        socket.onmessage = function (e) {
            write_bot_response(e);
        };
    }

    function reset_chat() {
        roomContent.innerHTML = '';
        // noHistory.style.display = 'block';
        loading.style.display = 'block';
        listMenu.style.display = 'none';
        userInput = '';
        errorArea.innerHTML = '';
        textArea.style.border = 'none';
        reset_connection();
    }

    window.addEventListener('click', function (e) {
        if (!listMenu.contains(e.target) && !toggler.contains(e.target)) {
            listMenu.style.display = 'none';
        }
    });
</script>

<div class="card chat-room" id="room">
    <div class="card-header room-header">
        <div class="d-flex p-2">
            <div class="header-profile p-1">
                <div class="profile-img">
                    <img
                        class="rounded-circle"
                        src={bot_picture}
                        alt="bot-profile"
                    />
                </div>
                <div class="status-circle" />
            </div>
            <div class="header-status p-1 mt-2">
                <div class="bot-name-container" id="bot-name">
                    <h6 class="bot-name">{name}</h6>
                </div>
                <div class="bot-status-container" id="bot-status">
                    <small class="text-muted bot-status"> Online </small>
                </div>
            </div>
        </div>

        <div class="header-menu">
            <!-- svelte-ignore a11y-click-events-have-key-events -->
            <i
                class="bi bi-three-dots-vertical toggle"
                bind:this={toggler}
                on:click={toggleMenu}
            />
            <ul class="list-menu" bind:this={listMenu}>
                <!-- svelte-ignore a11y-click-events-have-key-events -->
                <li on:click={reset_chat}>Reset chat</li>
                <!-- svelte-ignore a11y-click-events-have-key-events -->
                <li on:click>Exit chat</li>
            </ul>
        </div>
    </div>

    <!--
    <div class = "no-history card-body" bind:this = { noHistory }>
        <h5 class = "fw-bold"> 
            <i class = "bi bi-info-circle me-1"></i> We haven't spoken previously!
        </h5>
    </div>
    -->

    <div class="spinner" bind:this={loading}>
        <div class="spinner-border" role="status">
            <span class="visually-hidden"> Loading... </span>
        </div>
    </div>

    <div class="card-body room-content" bind:this={roomContent} />

    <div class="card-footer room-footer">
        <div class="error-area" bind:this={errorArea} />
        <form on:submit|preventDefault={submit_user_input}>
            <div class="form-group">
                <div class="message-form" bind:this={textArea}>
                    <textarea
                        class="form-control"
                        id="messageInput"
                        placeholder="Type message..."
                        bind:value={userInput}
                    />
                    <button type="submit" class="send-btn">
                        <i class="bi bi-send" />
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    :root {
        --blue: #0890e2;
        --grey: #f5f5f5;
        --white: #fff;
        --green: #008000;
        --red: #eb090d;
    }

    .chat-room {
        width: 370px;
        font-family: 'ubuntu', sans-serif;
        background-color: var(--grey);
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 150px;
        position: fixed;
        bottom: 120px;
        right: 15px;
        display: none;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .card-header {
        padding: 0px 10px;
    }

    .room-header {
        background-color: var(--white);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
    }

    .room-header .header-profile {
        width: 50px;
        height: 50px;
        position: relative;
    }

    .room-header .header-status {
        margin-left: 3px;
        font-size: 15px;
        color: #000;
    }

    .room-header .profile-img {
        height: 47px;
        width: 47px;
    }

    .room-header .profile-img img {
        width: 100%;
    }

    .room-header .status-circle {
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: var(--green);
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .room-header .header-status .bot-status-container .bot-status {
        display: block;
        margin-top: -7px;
    }

    .room-header .header-menu {
        position: absolute;
        right: 7%;
        margin-top: 23px;
        font-weight: 500;
    }

    .room-header .header-menu .toggle {
        cursor: pointer;
        font-size: 18px;
    }

    .room-header .header-menu .list-menu {
        list-style-type: none;
        position: absolute;
        right: 0;
        width: 150px;
        background: var(--white);
        padding: 7px;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        display: none;
    }

    .room-header .header-menu .list-menu li {
        color: var(--dark);
        text-decoration: none;
        padding: 8px 15px;
        display: block;
        font-size: 13px;
        border-radius: 8px;
        cursor: pointer;
    }

    .room-header .header-menu .list-menu li:hover {
        background-color: var(--grey);
    }

    .spinner {
        position: absolute;
        left: 45%;
        top: 45%;
    }

    .spinner-border {
        color: var(--black);
        font-size: 13px;
    }

    .room-content {
        /*max-height: 250px;*/
        height: 400px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        grid-row-gap: 10px;
        padding: 15px;
        font-size: 13px;
    }

    :global(.message-item) {
        padding: 12px 10px 0px 10px;
        width: 75%;
    }

    :global(.message-item.sent) {
        align-self: flex-end;
        background-color: var(--blue);
        color: var(--white);
        border-radius: 13px 0 13px 13px;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.05);
        padding: 10px;
        width: fit-content;
        max-width: 75%;
    }

    :global(.message-item.received) {
        background: var(--white);
        border-radius: 0 13px 13px 13px;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.05);
        width: fit-content;
        max-width: 75%;
    }

    :global(.room-content .trigger) {
        font-size: 13px;
        background-color: #fff;
        color: var(--blue);
        border-color: var(--blue);
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.05);
        font-weight: 500;
        border-radius: 10px;
        display: block;
        margin-top: 7px;
    }

    :global(.room-content .trigger.btn-outline-info:hover) {
        color: var(--white);
        background-color: var(--blue);
        border-color: var(--blue);
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.05);
        text-decoration: none;
    }

    .room-footer {
        background: var(--white);
        padding: 15px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .room-footer .error-area {
        color: var(--red);
    }

    :global(.room-footer .error-message) {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 13px;
    }

    .room-footer .message-form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grey);
        border-radius: 8px;
        padding: 5px;
    }

    .form-control {
        box-shadow: none;
        outline: auto 0px;
    }

    .room-footer .message-form #messageInput {
        border: none;
        outline: none;
        scrollbar-width: none;
        resize: none;
        line-height: 16px;
        font-size: 15px;
        background-color: transparent;
        padding: 0.4rem;
    }

    .room-footer .send-btn {
        color: var(--blue);
        border: none;
        background: transparent;
        font-size: 15px;
    }

    @media screen and (max-width: 384px) /*, screen and (max-height: 870px) */ {
        .chat-room {
            width: calc(100vw - 30px);
            /*bottom: 3%;*/
        }

        /*.room-content {
            height: 675px;
            height: calc(100vh - 210px);
        }*/
        /*
        .room-footer .message-input {
            width: 215px;
        }*/

        .room-footer .send-btn {
            margin-left: 20px;
        }
    }

    @media screen and (max-width: 384px) {
        .chat-room {
            width: calc(100vw - 30px);
            bottom: 2%;
        }

        .room-content {
            height: 520px;
        }

        /*        .room-footer .message-input {
            width: 215px;
        }*/

        .room-footer .send-btn {
            margin-left: 20px;
        }
    }
</style>
