{% extends "users/base.html" %}

{% block content %}
<div class="container mt-4">
    <p class="h3">
        {{ message }}
    </p>
    <button class="btn btn-primary" onclick="goBack()">Go Back</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}
