{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-3">Login</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <!-- Username field -->
                <div class="form-group">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username|add_class:"form-control" }}
                </div>
                <!-- Password field -->
                <div class="form-group">
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}">Password:</label>
                    {{ form.password|add_class:"form-control" }}
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                    <label class="form-check-label" for="remember_me">Remember me for 30 days</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div class="mt-2">
                <a href="{% url 'password_reset' %}">Need help?</a>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Do you need an account? <a href="{% url 'signup' %}">Sign Up Now</a>
                </small>
            </div>
            <div class="d-flex align-items-center justify-content-between pt-3 mt-3">
                <div class="flex-grow-1">
                    <hr class="my-0">
                </div>
                <span class="px-3 h6">OR</span>
                <div class="flex-grow-1">
                    <hr class="my-0">
                </div>
            </div>
            
            <div class="text-center mt-3">
                <p class="mb-3">Sign in with a third party</p>
                <form action="{% url 'set-provider-in-cookie-and-redirect' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="provider_name" value="github" />
                    <input type="hidden" name="provider_authentication_url" value="{% provider_login_url 'github' %}" />
                    <button type="submit" class="btn btn-block btn-social btn-github mb-2">
                        GitHub
                    </button>
                </form>
                <form action="{% url 'set-provider-in-cookie-and-redirect' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="provider_name" value="gitlab" />
                    <input type="hidden" name="provider_authentication_url" value="{% provider_login_url 'gitlab' %}" />
                    <button type="submit" class="btn btn-block btn-social btn-gitlab mb-2">
                        GitLab
                    </button>
                </form>
                
                <!-- <button type="button" class="btn btn-block btn-social btn-discord mb-2">
                    <a href="{% provider_login_url 'github' %}">Discord</a>
                </button>
                <button type="button" class="btn btn-block btn-social btn-mastodon">
                    <a href="{% provider_login_url 'github' %}">Mastodon</a>
                </button> -->
            </div>
            
            <style>
                .btn-social {
                    text-align: center;
                    padding: auto;
                }
            
                .btn-github {
                    background-color: #333333;
                    color: white;
                }
            
                .btn-facebook {
                    background-color: #3b5998;
                    color: white;
                }
            
                .btn-linkedin {
                    background-color: #0e76a8;
                    color: white;
                }
            
                .btn-digitalocean {
                    background-color: #008bcf;
                    color: white;
                }

                .btn-gitlab {
                    background-color: #fc6d26;
                    color: white;
                }

                .btn-discord {
                    background-color: #7289da;
                    color: white;
                }

                .btn-mastodon {
                    background-color: #3088d4;
                    color: white;
                }
            </style>
        </div>
    </div>
</div>

{% endblock content %}
