{% extends "users/base.html" %}

{% block content %}
<div class="container">
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password.
    </div>
</div>
{% endblock content %}