{% extends "users/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block scripts %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'users/js/password_generator.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/css/password_reset_confirm.css' %}">

{% endblock %}



{% block content %}

<div class="container top-margin">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Password reset confirm</h2>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.new_password1.label_tag }}
                    <div class="input-group">
                        {{ form.new_password1|add_class:"form-control" }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword1">
                                <img src="{% static 'users/images/show.png' %}" alt="Generate" id="passwordIcon1" style="height:24px;">
                            </button>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                                onclick="populateRandomPassword()">
                                <img src="{% static 'users/images/reset-password.png' %}" alt="Generate" style="height:24px;">
                            </button>
                        </div>
                    </div>
                    {{ form.new_password1.errors }}
                </div>
                <div class="form-group">
                    {{ form.new_password2.label_tag }}
                    <div class="input-group">
                        {{ form.new_password2|add_class:"form-control" }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword2">
                                <img src="{% static 'users/images/show.png' %}" alt="Generate" id="passwordIcon2" style="height:24px;">
                            </button>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="populateRandomPassword()">
                                <img src="{% static 'users/images/reset-password.png' %}" alt="Generate" style="height:24px;">
                            </button>
                        </div>
                    </div>
                    {{ form.new_password2.errors }}
                </div>
                
                <input type="submit" class="btn btn-primary" value="Reset password">
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    const passwordField = document.getElementById('id_new_password1');
    passwordField.setAttribute('type', "password");

    const togglePasswordButton1 = document.getElementById('togglePassword1');
    togglePasswordButton1.addEventListener('click', function (e) {
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        const passwordIcon = document.getElementById('passwordIcon1');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            passwordIcon.src = "{% static 'users/images/hide.png' %}";
        } else {
            passwordField.type = 'password';
            console.log(passwordField.type);
            passwordIcon.src = "{% static 'users/images/show.png' %}";
        }
    });

    const passwordField2 = document.getElementById('id_new_password2');
    passwordField2.setAttribute('type', "password");

    const togglePasswordButton2 = document.getElementById('togglePassword2');
    togglePasswordButton2.addEventListener('click', function (e) {
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        const passwordIcon = document.getElementById('passwordIcon2');

        if (passwordField2.type === 'password') {
            passwordField2.type = 'text';
            passwordIcon.src = "{% static 'users/images/hide.png' %}";
        } else {
            passwordField2.type = 'password';
            passwordIcon.src = "{% static 'users/images/show.png' %}";
        }
    });

    (function () {
        var validation = Array.prototype.filter.call(document.getElementsByClassName('needs-validation'), function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>

{% endblock %}
