{% load static %}
<script>
    let ws_url = "{{ ws_url }}";
    let welcome_popup_on = JSON.parse('{{ welcome_popup_on|safe }}');
    let empty_message_allowed = JSON.parse('{{ empty_message_allowed }}');
    let name = "{{ name }}";
    let bot_picture = "{{ bot_picture }}";
    let fetch_image_endpoint_url = "{{ fetch_image_endpoint_url }}";
    let is_s3 = JSON.parse("{{ is_s3 }}");
</script>
<link rel='stylesheet' type="text/css" href="{% static file_css %}">
<script defer src="{% static file_js %}"></script>
