{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block extrastyles %}
<style>
	.image-name {
		text-align: center;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="content-section">
		<div class="media">
			<img class="rounded-circle account-img" src="{{ profile_pic }}">
			<div class="media-body">
				<h2 class="account-heading">{{ user.username }}</h2>
				<p class="text-secondary">{{ user.email }}</p>
			</div>
		</div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Profile Info</legend>
				{{ u_form|crispy }}
				{{ p_form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit" name="update"
					href="{% url 'profile' %}">Update</button>
			</div>
		</form>
			<div class="container">
				<div class="mb-3">
					<h5>Connect social account</h5>
				</div>
			
				<div class="mb-3 d-flex align-items-center">
					<img src="https://imgs.search.brave.com/WlVS4QlastSH8EY3pCK6B_ElcmFK3hIOQE2dEjF9Lh0/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ3Zjk5N2NlZjEw/MTRjMGI1ZTQ4YzEu/cG5n"
						alt="" width="3%" class="mr-3">
					<div class="d-flex flex-column align-items-center justify-content-center">
						{% if gitlab_connected %}
						<p>Connected as {{gitlab_username}}</p>
						<form action="{% url 'disconnect-provider' %}" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="hidden" name="provider_name" value="gitlab" />
							<button type="submit" class="btn btn-block btn-social btn-gitlab mb-2">
								Disconnect
							</button>
						</form>
						{% else %}
						<form action="{% url 'set-user-id-in-cookie-and-redirect' %}" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="hidden" name="provider_name" value="gitlab" />
							<input type="hidden" name="provider_authentication_url" value="{% provider_login_url 'gitlab' %}" />
							<button type="submit" class="btn btn-block btn-social btn-gitlab mb-2">
								Connect to GitLab
							</button>
						</form>
						{% endif %}
					</div>
				</div>

				<div class="mb-3 d-flex align-items-center">
					<img src="https://imgs.search.brave.com/9tPKhhC4JEIyMhKZOyK2iOB8tuSxu-douAzfiHwErrE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4x/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvaW9uaWNvbnMt/ZmlsbC12b2wtMi81/MTIvbG9nby1naXRo/dWItMTI4LnBuZw"
						alt="" width="3%" class="mr-2">
					<div class="d-flex flex-column align-items-center justify-content-center">
						{% if github_connected %}
						<p>Connected as {{github_username}}</p>
						<form action="{% url 'disconnect-provider' %}" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="hidden" name="provider_name" value="github" />
							<button type="submit" class="btn btn-block btn-social btn-gitlab mb-2">
								Disconnect
							</button>
						</form>
						{% else %}
						<form action="{% url 'set-user-id-in-cookie-and-redirect' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="provider_name" value="github" />
							<input type="hidden" name="provider_authentication_url" value="{% provider_login_url 'github' %}" />
							<button type="submit" class="btn btn-block btn-social btn-gitlab mb-2">
								Connect to GitHub
							</button>
						</form>
						{% endif %}
					</div>
				</div>
			</div>
	</div>
</div>
<div class="container-fluid">
	<div class="px-lg-5">
		<div class="container">
			<h2 class="my-4">Upload a new image</h2>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{image_form|crispy}}
				<button class="btn btn-dark" type="submit">Submit</button>
			</form>
		</div>

		<div class="row py-5">
			<div class="col-lg-12 mx-auto">
				<h3 class="h3" style="display: inline-block;">Your photos</h3>
			</div>
		</div>

		<div class="row">
			{% for image_data in user_images_data %}
			<div class="col-xl-3 col-lg-4 col-md-6 mb-4">
				<div class="bg-white rounded shadow-sm">
					<a href="{{ image_data.image.url }}" target="_blank"><img src="{{ image_data.image.url }}"
							alt="Click to view larger image" class="img-fluid card-img-top" title="Stack Overflow"></a>
					<div class="p-4 image-name">
						<h5> <a href="{{ image_data.image.url }}" class="text-dark">{{ image_data.title }}</a></h5>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	</body>

	</html>


	{% endblock content %}