{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="Submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>

{% if show_modal %}
<script>
    window.onload = function () {
        var modal = new bootstrap.Modal(document.getElementById('duplicateEmailModal'));
        modal.show();
    };
</script>
<div class="modal fade" id="duplicateEmailModal" tabindex="-1" role="dialog" aria-labelledby="duplicateEmailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="duplicateEmailModalLabel">Email Already in Use</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                An account with the email {{ email }} already exists. Would you like to sign in or reset your password?
            </div>
            <div class="modal-footer">
                <a href="{% url 'login' %}" class="btn btn-primary">Sign In</a>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary">Reset Password</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}