:root {
  --ff-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ff-heading: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* --clr-bright-blue: #007bff; */
  --clr-bright-blue: hsl(208, 99%, 44%);

  /* --clr-bg-steel: #5f788a; */
  --clr-bg-steel: hsl(205, 18%, 46%);


  /* --clr-light-gray: #e3e3e3; */
  --clr-gray-100: hsl(0, 0%, 90%);
  --clr-gray-200: hsl(0, 0%, 80%);
  --clr-gray-300: hsl(0, 0%, 70%);
  --clr-gray-400: hsl(0, 0%, 60%);
  --clr-gray-500: hsl(0, 0%, 50%);
  --clr-gray-600: hsl(0, 0%, 40%);
  --clr-gray-700: hsl(0, 0%, 30%);
  /* --clr-gray-700: hsl(0, 0%, 27%); */
  --clr-gray-800: hsl(0, 0%, 20%);
  /* --clr-gray-900: hsl(0, 0%, 10%); */
  --clr-gray-900: hsl(210, 11%, 15%);  /* rgb(33,37,41) */
  --clr-bg-dark: hsl(210, 10%, 23%);  /*#343a40 */
  --clr--white: #fafafa;

  --clr-neutral-900: hsl(0%, 0%, 0%);
  --clr-neutral-100: hsl(0%, 0%, 100%);

  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-400: 1rem;
}

body {
  background: #fafafa;
  color: var(--clr-gray);
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-gray-800);
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: var(--clr-bg-steel);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  position: relative;
}

/* Hamburger Menu */
.hamburger-menu {
  cursor: pointer;
  width: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hamburger-menu div {
  width: 100%;
  height: 0.2rem;
  background-color: var(--clr-bg-steel);
  transition: 0.4s;
}

/* The Modal (background) */
.menu-modal {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1; /* Sit on top */
  right: 0;
  top: -1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--clr-bg-dark);  
}

.menu-modal-header {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.menu-modal-header .x-shape {
  display: none;
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.x-shape:hover,
.x-shape:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.x-line {
  position: absolute;
  top: 1rem;
  width: 100%;
  height: 0.25rem;
  background-color: var(--clr-bg-steel);
}

.x-line-1 {
  transform: rotate(45deg);
}

.x-line-2 {
  transform: rotate(-45deg);
}

/* Modal Content/Box */
.menu-modal-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
  color: var(--clr-bright-blue);
  margin: auto;
  padding: 1rem;
  min-width: 11.5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}